.back{

background-color: rgb(105, 73, 73);

}





.box1:hover{
    transform: translateX(100px);
        transition: 2s;
}
.box1 {
  width: 350px;              
  height: auto;             
  border: 3px solid rgb(238, 238, 238);   
  padding: 15px;             
  margin: 50px auto;         
  text-align: center;       
  font-size: 20px;           
  background-color: #0f6fa7; 
       
}
.box2:hover{
    transform:rotate(360deg);
        transition: 2s;
}
.box2 {
  width: 350px;              
  height: auto;             
  border: 3px solid rgb(255, 255, 255);   
  padding: 15px;             
  margin: 50px auto;         
  text-align: center;       
  font-size: 20px;           
  background-color: #2a1185; 
       
}
.box3:hover{
    transform:rotateX(360deg);
        transition: 2s;
}
.box3 {
  width: 350px;              
  height: auto;             
  border: 3px solid rgb(255, 255, 255);   
  padding: 15px;             
  margin: 50px auto;         
  text-align: center;       
  font-size: 20px;           
  background-color: #6b0000; 
       
}
.box4:hover{
    transform:rotateX(360deg);
        transition: 2s;
}
.box4 {
  width: 350px;              
  height: auto;             
  border: 3px solid rgb(255, 255, 255);   
  padding: 15px;             
  margin: 50px auto;         
  text-align: center;       
  font-size: 20px;           
  background-color: #0cbfec; 
       
}
.box5:hover{
    transform:rotateY(360deg);
        transition: 2s;
}
.box5 {
  width: 350px;              
  height: auto;             
  border: 3px solid rgb(255, 255, 255);   
  padding: 15px;             
  margin: 50px auto;         
  text-align: center;       
  font-size: 20px;           
  background-color: darkgoldenrod; 
       
}
.box6:hover{
    transform: scaleX(1.5);
        transition: 2s;
}
.box6 {
  width: 350px;              
  height: auto;             
  border: 3px solid rgb(255, 255, 255);   
  padding: 15px;             
  margin: 50px auto;         
  text-align: center;       
  font-size: 20px;           
  background-color: rgb(46, 184, 11); 
       
}
.box7:hover{
    transform:scale(1.3);
        transition: 2s;
}
.box7 {
  width: 350px;              
  height: auto;             
  border: 3px solid rgb(255, 255, 255);   
  padding: 15px;             
  margin: 50px auto;         
  text-align: center;       
  font-size: 20px;           
  background-color: rgb(219, 223, 6); 
       
}